packages/subgraph/subgraph.yaml
packages/subgraph/generated
packages/hardhat/*.txt
**/aws.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
**/node_modules
packages/hardhat/artifacts
packages/vite-app/src/contracts
packages/hardhat/cache

docker/**/data

packages/subgraph/config/config.json

node_modules
/node_modules
/.pnp
.pnp.js

.DS_Store
dist
dist-ssr
*.local
dist/*
node_modules/*
.cache
build
.yarn/cache
.yarn/install-state.gz
.yarn/build-state.yml
.eslintcache
.secret

node_modules

#Hardhat files
cache
artifacts
